@charset "UTF-8";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{height: 100%;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}

button + dl{
  display: none;
}

button.on + dl{
  display: block;
}

dt{
  font-size: 18px;
  color: #222;
  height: 24px;
  line-height: 24px;
}

dd{
  font-size: 16px;
  color: #999;
}
